
html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e7eef8;
}

#main-wrapper {
    max-width: 750px;
    margin: 50px auto;
    padding: 20px;;
    background: #fff;
    border-radius: 15px;
    box-shadow:  0 6px 12px rgba(0,0,0, 0.1);
}

.info-section {
    display: flex;
    flex-direction: column;
}

.section-header {
    text-align: center;
    margin-bottom: 20px;
}

.section-header h1 {
    font-size: 24px;
    color: #2c3e50;
}

.section-header p {
    color: #7f8c8d;
}

#accordion-panel {
    display: flex;
    flex-direction: column;
}

.panel {
    margin-bottom: 10px;
    padding: 15px;
    background: #f2f2f2;
    border-radius: 8px;
    border: 1px solid #bdc3c7;
    transition: background-color 0.3s;
}

.panel:last-child {
    margin-bottom: 0;
}

.panel:hover {
    background-color: #e8e8e8;
}

.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.panel-header h2 {
    font-weight:  400;
    color: #34495e;
}

.icon-toggle {
    color: #3498db;
    transition: transform 0.3s ease;
}

.panel-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
    color: #34495e;
}

.panel-body p {
    margin-top:  10px;
}

.active {
    padding: 15px;
    max-height: 100px;
}

.active .icon-toggle {
    transform: rotate(180deg);
}